@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Teko&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    text-align: center;
    background-color:gray;
}

h1 {
    font-family: 'Dancing Script';
}

h3, p {
    font-family: 'Teko', sans-serif;
    font-weight: 100;
}

.main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    background-color: blue;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
}

/* Connect Four board CSS */

.board-container {
    margin-left: 300px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.board-container {
    width: 500px;
    height: auto;
    margin: 0 auto;
}

.board-container table {
    background-color: #0079BB;
    padding: 0.5rem;
}

.board-container table tr td {
    background-color: white;
    width: 500px;
    height: 70px;
    border-radius: 50%;
}